﻿body {
    font-family:'Open Sans';

}
.a-l {
border-bottom:2px solid #ef4846;
width:50px;
height:25px;
}
.a-b {
    height:44px;
    width:125px;
    border-radius:22px 0px 22px 0px;
    background-color:#ee4846;
    color:white;
    padding-top:7px;
    margin-top:25px;
    box-shadow:rgba(0,0,0,0.1) 5px 27px 43px;
}

.aktivi {
    padding-top:100px;
    padding-left:30px;
    padding-right:30px;
    
    }
.a-t {
    padding-top:50px;

}



.a-br {
    height:72px;
    width:222px;
    border-radius:22px 0px 22px 0px;
    color:white;
    padding-top:7px;
    margin-top:25px;
    box-shadow:rgba(0,0,0,0.1) 5px 27px 43px;
}
.pay {
    background-color:#fafafb;
    
}
.pm {
    padding-top:100px;
    padding-bottom:100px;
}
.p-b {
    height:44px;
    width:165px;
    border-radius:22px 0px 22px 0px;
    background-color:#ee4846;
    color:white;
    padding-top:7px;
    margin-top:25px;
    box-shadow:rgba(0,0,0,0.1) 5px 27px 43px;
}
.payment {
    background-color:#fafafb;
    
}
.p-bg {
    background-image:url(../img/p_bg.png);
    padding-bottom:130px;
    background-repeat: no-repeat;
}
.pym {
    padding:0 15px;

}

.p-lis {
    max-width:100%;
    max-height:100%;
    padding:50px;
}
.p-box {
    width:570px;
    height:auto;
    background-color:white;
    margin-top:50px;
    border-radius:30px 0px 30px 0px;
    box-shadow:rgba(0,0,0,0.1) 5px 27px 43px;
    
    max-width:100%;
    }
.p-lis-i {
    padding:15px 0;
}

@media (min-width: 1200px) {
    .ak {
        background-image: url(../img/first_bg.png);
        height: 540px;
    }
    .cards {
    margin-top:200px !important;
    }
}
@media (min-width: 768px) {

    .cards {
        margin-top: 400px !important;
    }
}

@media (min-width: 992px) {

    .cards {
        margin-top: 200px !important;
    }

}
@media (max-width: 576px) {

    .cards {
        margin-top: 100px !important;
    }

}
.cards {
        margin-top: 600px;
        box-shadow:rgba(0,0,0,0.1) 5px 27px 43px;
    }
.invest {

    padding:100px 0;
}
.i-box {
    box-shadow:rgba(0,0,0,0.1) 5px 27px 43px;
    padding-top:20px;
    border-radius:30px 0px 30px 0px;    
}
.i-box-l {
    padding:0;
}
.i-box-l li{
    display:-webkit-inline-box;

}

.i-shape {
    
    width:172px;
    height:69px;
    display: -webkit-inline-box;
    color: white;
}
.i-b-h {
    
    margin-left: 20px;
    margin-top: 4px;
    font-size: 3rem;
}
.i-box-l p {
    margin-block-end: 0;
}
.i-b-t {
    padding-top: 10px;
    padding-left: 35px;
    color:grey;
}
.faq {
    background-image:url(../img/faq-bg.png);
    height:550px;
    width:auto;
    background-color:#fafafb;
    box-shadow:rgba(0,0,0,0.1) 0px 0px 14px;
    padding:100px 0;

}
.f-ar {
    padding:30px 0;
}
